In [3]:
i=5
print(i)
list = [1,2,3,4,5,56,6]
print(list)
list.clear()
print(list)

5
[1, 2, 3, 4, 5, 56, 6]
[]

In [1]:
a = 5 
b = 0.9
c = [1,2,3,4,5,6]
d = (1,2,57,8)
e = {"A":1,"B":2,"C":3}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [2]:
roll_no = 23051606
name = "Omm Tripathi"
branch = "BTECH - CSE"
print(roll_no)
print(name)
print(branch)

23051606
Omm Tripathi
BTECH - CSE

In [3]:
a = 5 
b = 8
print(a+b)
print(a*b)
print(a-b)
print(a/b)

13
40
-3
0.625

In [4]:
a = int(input("Enter first num"))
b = int(input("Eneter the second number"))
c = int(input("Enter the third numb"))

print(a+b+c)

12

In [5]:
pi = 3.14135
r = int(input("Enter the radius"))
circum = 2*pi*r
area = pi * (r**2)
print(circum)
print(area)

31.4135
78.53375

In [ ]:
p = int(input("Enter the principal"))
n = int(input("Enter number of years"))
i = int(input("enter rate of interest"))

amount = p*((1+r)**n)
print(amount)

6480000

In [9]:
a = int(input("enter the first number"))
b = int(input("enter the second number"))
print("Before")
print("a:",a)
print("b:",b)

a = a + b
b = a - b
a = a - b

print("after")
print("a:",a)
print("b:",b)

Before
a: 3
b: 4
after
a: 4
b: 3

In [8]:
i = int(input("Enter the first number"))
j = int(input("enter the second number"))

print(i==j)
print(i!=j)
print(i<j)
print(i>j)
print(i>=j)
print(i<=j)

False
True
True
False
False
True

In [14]:
p = int(input("enter the paisa"))
if(p<100):
    print("0 rupees",p ,"paisa")
    
else:
    print(p//100,"rupees",p%100,"Paisa")

13 rupees 50 Paisa

In [21]:
sec = int(input("enter time in seconds: "))

if sec < 60:
    print("0 hour 0 minute", sec, "seconds")

else:
    h = sec // 3600
    min = (sec % 3600) // 60
    sec = sec % 60
    print(h, "hours", min, "mins", sec, "seconds")

2 hours 6 mins 0 seconds

In [20]:
m = int(input("enter the meters: "))

if m < 1000:
    print("0 kms", m, "meters")
else:
    print(m // 1000, "kms", m % 1000, "meters")

2 kms 430 meters

In [ ]:
amount = int(input("Enter amount: "))

n100 = amount // 100
amount = amount % 100

n50 = amount // 50
amount = amount % 50

n10 = amount // 10
amount = amount % 10

print("100 Rs notes:", n100)
print("50 Rs notes:", n50)
print("10 Rs notes:", n10)

100 Rs notes: 7
50 Rs notes: 1
10 Rs notes: 3

In [ ]:
basic = float(input("Enter base salary: "))
da = 0.40 * basic
hra = 0.20 * basic
gross = basic + da + hra
print("Gross Salary =", gross)

Gross Salary = 104000.0