Submitted by :- 
Name - Omm Tripathi | 
Roll No - 23051606 | 
Section - CSE-35 | 
Lab - 1 |
Assignment- 0.4

---------------------------------------------------------------------------------------------

0.4.1. Find Sum and Average of List in Python

   Sample Input:-\
      a = [10, 20, 30, 40, 50]\
   Output:\
    Sum of the list: 150 \
    Average of the list: 30.0

In [4]:
def action(a):
    sum1 = sum(a)
    avg = sum1 / len(a)  
    return sum1,avg 

a = [10, 20, 30, 40, 50]
sum1,avg = action(a)
print("Sum of the list: ",sum1)
print("Average of the list:",avg)

Sum of the list:  150
Average of the list: 30.0

---------------------------------------------------------------------------------------------

0.4.2. Given two lists, the task is to extract all elements that appear in both lists.

For Example:

Input: a = [1, 2, 3, 4, 5], b = [4, 5, 6] 

Output: [4, 5]

In [5]:
def Union(a,b):
    res = list(set(a) & set(b))
    return res
    
a = [1, 2, 3, 4, 5]
b = [4, 5, 6, 7, 8]

print(Union(a,b))

[4, 5]

---------------------------------------------------------------------------------------------

0.4.3. Given a list, the task is to reverse the order of its elements. 

For Example:  

Input: [10, 20, 30, 40, 50]

Output: [50, 40, 30, 20, 10]

In [7]:
def reverse(a):
    revlist = a[::-1]
    return revlist

a = [10,20,30,40,50]
print(reverse(a))

[50, 40, 30, 20, 10]

---------------------------------------------------------------------------------------------

0.4.4. Get Last N Elements from Given List

   For Example:
   
   Input : test_list = [4, 5, 2, 6, 7, 8, 10]

   Output : [2, 6, 7, 8, 10]

In [9]:
def getlast(test,n):
    size = len(test)
    if(n>size):
        print("enter a smaller number")
    i = size - n
    result = []
    for it in range(i,size):
        result.append(test[i])
        i+=1
        
    return result
         
test_list = [4,5,2,6,7,8,10]
n = int(input("enter the number of elements required"))
print(getlast(test_list,n))

[2, 6, 7, 8, 10]

---------------------------------------------------------------------------------------------

0.4.5. Find Sum and Average of tuple elements.

   The original tuple is : (7, 8, 9, 1, 10, 7)
   
   The summation of tuple elements are: 42
   
   The avg of the tuple elements is: 7

In [10]:
def result(tup):
    l1 = list(tup)
    sum1 = sum(l1)
    avg1 = sum1/len(l1)
    return sum1,avg1

tup = (7,8,9,1,10,7)
summ,avgg = result(tup)
print("The summatiosn of the tupel elements are:",summ)
print("The avg of the tuple elements is:",avgg)

The summatiosn of the tupel elements are: 42
The avg of the tuple elements is: 7.0

---------------------------------------------------------------------------------------------

0.4.6. WAP to add a Tuple to List and Vice - Versa.

For Example:  

a = [1, 2, 3]  b = (4, 5)  c = [6, 7]  

Adding b to a can produce [1, 2, 3, (4, 5)] or [1, 2, 3, 4, 5]. 

Adding c to b can produce (4, 5, 6, 7).

In [18]:
l1 = [1, 2, 3] 
tup1 = (4, 5)    
l2 = [6, 7]    

l1.extend(tup1) 
print(a)

ntup = tup1 + tuple(l2)
print(ntup)

[10, 20, 30, 40, 50]
(4, 5, 6, 7)

---------------------------------------------------------------------------------------------

0.4.7. Given list of tuples, remove all the tuples with length K.

   For Example:

Input : [(4, 5), (4,6,7 ), (8, 6,7), (1), (2, 3), (3, 4, 6, 7)], K = 2  

Output : [(4,6,7), (8, 6, 7), (1), (3, 4, 6, 7)]

In [17]:
def printk(t1,k):
    res = []
    for t in t1:
        if len(t) != K:
            res.append(t)
    print(res)

t1 = [(4, 5), (4,6,7), (8,6,7), (1,), (2, 3), (3, 4, 6, 7)]
K = int(input("Enter the value of k"))
printk(t1,K)

[(4, 6, 7), (8, 6, 7), (1,), (3, 4, 6, 7)]

---------------------------------------------------------------------------------------------

0.4.8. Check Whether the String is Palindrome

   Sample Input:-
   
   s = "abaaba"
   
   Output: Palindrome

In [3]:
def palin(str):
    return str == str[::-1]
s = input("enter the string")
print("Entered string:",s)
if (palin(s)):
    print("Palindrome")
else :
    print("Not a Palindrome")

Entered string: ababa
Palindrome

---------------------------------------------------------------------------------------------

0.4.9. Python program to print even length words in a string 

For Example:  

Input: s = "This is a python languages"

Output: This is python

In [8]:
def extreven(str):
    l1 = str.split(' ')
    s1 = []
    for i in l1:
        if(len(i)%2==0):
            s1.append(i)
    str1 = ' '.join(s1)
    return str1
            
str = input("Enter the string")
print("Input string:",str)
s1 = extreven(str)
print(s1)

Input string: This is a test t String
This is test String

---------------------------------------------------------------------------------------------

0.4.10. Python Program to Convert a List to String

For Example:  

Input: a = ['This ', 'is' , 'a', 'Test'] 

Output: This is a Test

In [9]:
def listtostring(l):
    return " ".join(l)

l1 = ['This','is','a',"Test"]
str = listtostring(l1)
print(str)

This is a Test

---------------------------------------------------------------------------------------------

0.4.11. Python program to capitalize the first and last character of each word in a string

For Example:  

Input: s = "hello world"

Output: HellO WorlD

In [10]:
def caplast(s):
    words = s.split()
    res= []
    for w in words:
        if len(w) == 1:
            res.append(w.upper())
        else:
            new = w[0].upper() + w[1:-1] + w[-1].upper()
            res.append(new)
    return " ".join(res)


s = input("Enter the string")
print("Entered string:",s)
print(caplast(s))

Entered string: hello world
HellO WorlD

---------------------------------------------------------------------------------------------

0.4.12. Maximum and Minimum element in a Set in Python

For Example:  

Input: s1 = {4, 12, 10, 9, 4, 13}

Output: 

Minimum element: 1

Maximum element: 9

In [13]:
def find(s):
    minimum = min(s)
    maximum = max(s)
    return minimum, maximum

s1 = {4, 12, 10, 9, 4, 13}
mn, mx = find(s1)
print("Entered set:",s1)
print("Minimum element:", mn)
print("Maximum element:", mx)

Entered set: {4, 9, 10, 12, 13}
Minimum element: 4
Maximum element: 13

---------------------------------------------------------------------------------------------

0.4.13. Remove items from Set - Python

For Example:  

Input: a = {1, 2, 3, 4, 5} 3

Output: {1, 2, 4, 5}

In [16]:
s = {1,2,3,4,5,6,7}
num = int(input("Enter the number to be removed"))
print("Original set")
print(s)
s.remove(num)
print("Removing",num)
print(s)

Original set
{1, 2, 3, 4, 5, 6, 7}
Removing 4
{1, 2, 3, 5, 6, 7}

---------------------------------------------------------------------------------------------

0.4.14. Convert String to Set in Python

For Example: 

Input: s = "Geeks"

Output: {'s', 'e', 'k', 'G'}

In [17]:
str = input("Enter the string")
print("Entered string:",str)
s1 = set(str)
print(s1)

Entered string: ababsfj
{'j', 'a', 's', 'f', 'b'}

---------------------------------------------------------------------------------------------

0.4.15. Sort Python Dictionary by Key or Value 

For Example:  

Input: d = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15}

Output:{'rajnish': 9, 'ravi': 10, 'sanjeev': 15}

In [23]:
def sort(d):
    key = list(d.keys())
    key.sort()
    sd = {}
    for k in key:
        sd[k] = d[k]
    return sd
d = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15}
print("original dictionary:",d)
snew = sort(d)
print("sorted dictionary: ",end ='')
print(snew)

original dictionary: {'ravi': 10, 'rajnish': 9, 'sanjeev': 15}
sorted dictionary: {'rajnish': 9, 'ravi': 10, 'sanjeev': 15}

---------------------------------------------------------------------------------------------

0.4.16. Python program to find the sum of all items in a dictionary

For Example:  

Input:{'a': 100, 'b': 200, 'c': 300} 

Output: 600

In [24]:
def sumval(d):
    return sum(d.values())
d = {'a': 100, 'b': 200, 'c': 300}
result = sumval(d)
print(result)

600

---------------------------------------------------------------------------------------------

0.4.17. Counting the Frequencies in a List Using Dictionary in Python

For Example:  

Input: ['apple', 'banana', 'apple', 'orange', 'banana', 'banana'] 

Output: {'apple': 2, 'banana': 3, 'orange': 1}

In [28]:
def frequency(a):
    freq = {}
    for item in a:
        if item in freq:
            freq[item] += 1
        else:
            freq[item] = 1 
    return freq

a = ['apple', 'banana', 'apple', 'orange', 'banana', 'banana']
print("Entered list:",a)
print(frequency(a))

Entered list: ['apple', 'banana', 'apple', 'orange', 'banana', 'banana']
{'apple': 2, 'banana': 3, 'orange': 1}

---------------------------------------------------------------------------------------------