Submitted by :- 
Name - Omm Tripathi | 
Roll No - 23051606 | 
Section - CSE-35 | 
Lab - PoM-Lab1 |
Assignment- 1

In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

Smaller Dataset

In [3]:
df = pd.read_csv('house_price_dataset_small.csv')
df.head()

   Size (sq ft)  Price ($)
0          1360     227969
1          1794     262101
2          1630     271052
3          1595     213147
4          2138     338848

Importing the libraries

In [4]:
from sklearn.model_selection import train_test_split 
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
from sklearn.linear_model import LinearRegression

In [32]:
X = df[['Size (sq ft)']]
y = df.iloc[:,-1]
X.shape

(50, 1)

In [33]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.3,random_state=42)
X_train.shape

(35, 1)

In [34]:
lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred  = lr.predict(X_test)
print("Mean_squared_error:",mean_squared_error(y_test,y_pred))
print("Mean_absolute_error:",mean_absolute_error(y_test,y_pred))
print("R2_Score:",r2_score(y_test,y_pred))
small = []
small.append(mean_squared_error(y_test,y_pred))
small.append(mean_absolute_error(y_test,y_pred))
small.append(r2_score(y_test,y_pred))

Mean_squared_error: 829018585.3451355
Mean_absolute_error: 26317.788409200442
R2_Score: 0.9591882869008164

Larger Dataset

In [35]:
dflarge = pd.read_csv('house_price_dataset_large.csv')
dflarge.head()

   Size (sq ft)  Price ($)
0          1360     345416
1          4272     797318
2          3592     670624
3           966     132498
4          4926     965419

In [36]:
X = dflarge[['Size (sq ft)']]
y = dflarge['Price ($)']

In [37]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)
X_train.shape

(350, 1)

In [ ]:
lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred  = lr.predict(X_test)
print("Mean_squared_error:",mean_squared_error(y_test,y_pred))
print("Mean_absolute_error:",mean_absolute_error(y_test,y_pred))
print("R2_Score:",r2_score(y_test,y_pred))

large = []
large.append(mean_squared_error(y_test,y_pred))
large.append(mean_absolute_error(y_test,y_pred))
large.append(r2_score(y_test,y_pred))

Mean_squared_error: 3047982941.9636383
Mean_absolute_error: 48084.504771489046
R2_Score: 0.9522115167874217

In [44]:
result = pd.DataFrame(
    {
        'Small Dataset': small,
        'Large Dataset': large
    },
    index=['MSE', 'MAE', 'R2']
)

result

     Small Dataset  Large Dataset
MSE   8.290186e+08   3.047983e+09
MAE   2.631779e+04   4.808450e+04
R2    9.591883e-01   9.522115e-01