Submitted by :- 
Name - Omm Tripathi | 
Roll No - 23051606 | 
Section - CSE-35 | 
Lab - PoM-Lab1 |
Assignment- 2

In [41]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [42]:
df = pd.read_csv('logistic_regression_dataset.csv')
df.head()

   Age  Income  Buy
0   18      69    0
1   21      49    0
2   21      39    0
3   57      39    0
4   27      34    0

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     30 non-null     int64
 1   Income  30 non-null     int64
 2   Buy     30 non-null     int64
dtypes: int64(3)
memory usage: 852.0 bytes

In [44]:
df.describe()

             Age     Income        Buy
count  30.000000  30.000000  30.000000
mean   35.566667  55.033333   0.400000
std    12.062147  22.355256   0.498273
min    18.000000  20.000000   0.000000
25%    26.250000  39.000000   0.000000
50%    35.500000  53.000000   0.000000
75%    42.000000  72.000000   1.000000
max    57.000000  99.000000   1.000000

Importing the library functions

In [45]:
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,recall_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [46]:
X = df.iloc[:,0:2]
y = df.iloc[:,-1]

In [47]:
# sc = StandardScaler()
# X = sc.fit_transform(X)

In [48]:
X_train,X_test,y_train,y_test= train_test_split(X,y,random_state=42,test_size=0.3)
X_train.shape

(21, 2)

In [49]:
lr = LogisticRegression()
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)
print("Accuracy:",accuracy_score(y_test,y_pred))
print("Precision",precision_score(y_test,y_pred))
print("Recall:",recall_score(y_test,y_pred))
print("Confusion_matrix: \n",confusion_matrix(y_test,y_pred))

Accuracy: 0.7777777777777778
Precision 0.5
Recall: 1.0
Confusion_matrix:
 [[5 2]
 [0 2]]